<section class="checklist-card">
  <p class="eyebrow">Checklist Management</p>
  <h1>Edit Item For <%= @checklist.title %></h1>
  <%= render "form", checklist: @checklist, checklist_item: @checklist_item %>
</section>
