<section class="checklist-card">
  <p class="eyebrow">Admin Workspace</p>
  <h1>New Item For <%= @checklist.title %></h1>
  <%= render "form", checklist: @checklist, checklist_item: @checklist_item %>
</section>
